<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html">
    <title>Greeting Page</title>
</head>
<body>
<a href="/newAddressBook">create a Address Book</a>
<a href="/addBuddyInfoForm">Create new buddy info</a>
<a href="/viewAllBuddyInfoInAddressBookForm">view all buddy in a AddressBook</a>
<a href="/viewBuddyInfoForm">view buddy info by id</a>
<a href="/deleteBuddyInfo">delete a buddy info</a>
<a href="/deleteAddressBook">Submit another message</a>
</body>
</html>